
.header-box{
    display: flex;
    background-color: var(--grey);
    padding:2rem 0 2rem 2rem; 
}

.home-link{
    text-decoration: none;
    color:var(--white);
    font-weight: bolder;
    font-size: x-large;
}